node_modules
yarn-error.log
.ultra.cache.json

# local debug scripts
tmp/**


# generated sample interpretation dumps
/samples/*.hwp.json
/samples/*.hml.json
/samples/*.hwpml.json

# generated CFB debug dumps
/samples/*.hwp.cfb*.json
